<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OAuth User Pays Test App - Auth page</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <h2>OAuth User Pays Test App</h2>
    <a href="https://app.hellosign.com/oauth/authorize?response_type=code&client_id=285f7ede74d2c4d476a58beed9834167&state=test4">Click this link to get authorized!</a>
  </body>
</html>
