<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OAuth User Pays Test App</title>
  </head>
  <body>
    <h2>List or Send Signature Requests</h2>
    <button id="list-btn">List Signature Requests</button>
    <button id="send-btn">Send Signature Request</button>
  </body>
</html>
